.container {
    height: 100vh;
    width: 100%;
    max-width: 60vw;
    padding: 2rem;
    background-color: #E5E4E2;
}

.title {
    font-size: 2rem;
}

.markdown-output {
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    border-top: 1px solid #708090;
}